<section class="container-fluid main-content"> 
  <div class="flex-center">
    <div>
      <div class="this-section">
        <div class="this-header">
          <div class="text-headline">ABOUT CFI, MUMBAI</div>
          <!-- <img src="#"> -->
        </div><br><br> 
        <div class="this-row">
          <div class="this-title">WHAT IS CFI?</div>
          <p class="text-body">
            Children’s Future India (CFI) is a secular, non-political, non-profit voluntary organization that works dedicatedly for the welfare of underprivileged children, their families and their communities among the tribal, slum and rural populace in India, with thrust on the state of Maharashtra.
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">ESTABLISHMENT</div>
          <p class="text-body">
            It was founded with the objective of impacting the lives of destitute children, enabling them to maximize their potential and facilitate growth and progress of their families and the entire community.<br>
            CFI is established and functions under Section 25 of the Companies Act, 1956. All donations to our organization are tax-exempt u/s 80G of the IT Act.
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">WHAT EXACTLY WE DO?</div>
          <p class="text-body">
            At CFI, we focus on the overall well being of children in need, with education sponsorship being our core area of our work. Through our sponsors based in Norway, presently we are enabling 4000 sponsored children and 1100 non sponsor and siblings of sponsored children receive quality education under our Education Sponsorship Programme. Apart from assistance in the form of education, we also help in offer support in other basic necessities like healthcare, nutrition, food security, together with family and community development. We, at CFI, endeavour to build a healthy, progressive and self-reliant society.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
 