<section class="container-fluid main-content">
<div class="text-headline">EVENTS</div>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'EDUCATION')">EDUCATION</button>
  <button class="tablinks" onclick="openTab(event, 'HEALTH')">HEALTH</button>
  <button class="tablinks" onclick="openTab(event, 'SCHOLARSHIP')">SCHOLARSHIP</button>
  <button class="tablinks" onclick="openTab(event, 'OTHER')">OTHER</button>
</div>

<div id="EDUCATION" class="tabcontent"><br>
  <div class="card">
    <img src="/Education.JPG" alt="Education">
    <div class="container">
      <p><b>With our Sponsor and Sponsored Students in the Class</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/EPL1.jpg" alt="EPL1">
    <div class="container">
      <p><b>10th Standard Students</b></p> 
    </div>
  </div>
</div>

<div id="HEALTH" class="tabcontent"><br>
  <div class="card">
    <img src="/MCC3.jpg" alt="MCC3">
    <div class="container">
      <p><b>Free Medical Checkup for our Sponsored Students</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/MCC4.jpg" alt="MCC4">
    <div class="container">
      <p><b>Medical Advice and Checkup Report</b></p> 
    </div>
  </div>
</div>

<div id="SCHOLARSHIP" class="tabcontent"><br>
  <div class="card">
    <img src="/EAD1.jpg" alt="EAD1">
    <div class="container">
      <p><b>Education Aid Distribution</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/EAD6.jpg" alt="EAD6">
    <div class="container">
      <p><b>Education Aid Distribution</b></p> 
    </div>
  </div>
</div>

<div id="OTHER" class="tabcontent"><br>
  <div class="card">
    <img src="/womenday2.jpg" alt="womenday2">
    <div class="container">
      <p><b>Celebrating Women Day</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/AC1.jpg" alt="AC1">
    <div class="container">
      <p><b>Drawing Competition</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/AC2.jpg" alt="AC2">
    <div class="container">
      <p><b>Drawing Competition</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/CAP4.jpg" alt="CAP4">
    <div class="container">
      <p><b>Cleanliness Awareness Rally</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/CDC1.jpg" alt="CDC1">
    <div class="container">
      <p><b>Celebrating Children Day</b></p> 
    </div>
  </div><br><br>
  <div class="card">
    <img src="/CDC3.JPG" alt="CDC3">
    <div class="container">
      <p><b>Celebrating Children Day</b></p> 
    </div>
  </div>
</div>   
</section>
