<!-- Index Page Starts-->
<section class="container-fluid main-content"> 
<video autoplay="autoplay" muted="muted" loop id="videolayout">
  <source src="/homepg.mp4" type="video/mp4"> 
</video><br>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/EAD1.jpg" alt="Stationery" width="460" height="345">
      <div class="carousel-caption">
        <h3>Stationery</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/EPL1.jpg" alt="Classes" width="460" height="345">
      <div class="carousel-caption">
        <h3>Classes</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/MCC4.jpg" alt="Free Medical Checkup" width="460" height="345">
      <div class="carousel-caption">
        <h3>Free Medical Checkup</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="/CDC1.jpg" alt="Celebrating Children Day" width="460" height="345">
      <div class="carousel-caption">
        <h3>Celebrating Children Day</h3>
      </div>   
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a> -->
</div>
</section>
<!-- Index Page Ends-->

