<section class="container-fluid main-content"> 
  <div class="flex-center">
    <div>
      <div class="this-section">
        <div class="this-header">
          <div class="text-headline">SERVICES THAT WE PROVIDE..</div>
          <!-- <img src="#"> -->
        </div><br><br> 
        <div class="this-row">
          <div class="this-title">DISTRIBUTION OF SCHOOL MATERIAL</div>
          <p class="text-body">
            To motivate children to attend school and take continued interest in their schooling,
            aid in the form of school uniform, notebooks, textbooks, stationary, school shoes, raincoat,
            and umbrella is offered. The distribution of this aid is done at the unit level considering
            the need of the children on the basis of meeting with the school teachers and the parents.
            Here, we try to avoid the duplication of services. This benefit is given to the sponsored 
            children as well as their siblings and other children in the community on the basis of need 
            assessment done by the social workers.
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">SUPPORTIVE COACHING CLASS</div>
          <p class="text-body">
            Most of the children we work with are from illiterate families. In fact,
            they are the first literate generation. As there is no support system for
            them at home, our children need extra support for bettering their academic
            performance. Taking this into consideration, CFI supports study classes run 
            under its supervision as well as reimburses the expenses incurred for the coaching classes. 
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">CAREER GUIDANCE</div>
          <p class="text-body">
            Success in career to a large extent hinges on making the right decision during one’s
            student days itself, particularly in SSC or HSC. It is also necessary to guide students
            appearing for the SSC/HSC exam to help them overcome the fear of failure. CFI conducts
            various such sessions to guide the students of 10th an 12th on the said issues. For some 
            of the meetings, the parents are also invited. 
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">MEDICAL CHECK UP</div>
          <p class="text-body">
            We arrange for medical check ups of all the sponsored children, at least once a year.
            These children undergo general medical check up and at times, as per the need, a
            specialized one, like dental check up or eye check up and so on. The medical history
            of all the children is meticulously documented in their case file. If referred for a 
            specialized treatment, the children are assisted for the same. This is a preventive measure.
            Children are referred to the community kitchens or given special nutrition programme on the
            basis of this check up. At times, the non-sponsored children as well as the siblings or the
            other family members of the sponsored children benefit from this service.
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">AWARENESS CAMPS</div>
          <p class="text-body">
            We arrange various awareness camps for the different age groups. 
            Some of these are camp for the adolescent health, camp to educate 
            people about communicable diseases, camp for awareness about HIV/ AIDS 
            and so on. Essentially, these measures are preventive and proactive. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
