<section class="container-fluid main-content"> 
  <div class="flex-center">
    <div>
      <div class="this-section">
        <div class="this-header">
          <div class="text-headline">SPONSORSHIP</div>
          <!-- <img src="#"> -->
        </div><br><br> 
        <div class="this-row">
          <div class="this-title">DONATE</div>
          <p class="text-body">
            Being a sponsor is a useful, powerful and personal way to help a child.
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">SPONSOR</div>
          <p class="text-body">
            As a sponsor of sponsored children's future you sponsor a child in India.
            You get pictures and regular reports so you can follow the development of your sponsored child.<br><br>
            Mentor support ensures that your sponsored child and family receive education, food, and medicines.
            Support is also used for local initiatives that enhance the health, housing and education.<br><br>
          </p>
        </div>
      </div>
      <hr>
      <div class="this-section">
        <div class="this-row">
          <div class="this-title">VOLUNTEERING</div>
          <p class="text-body">
            CFI warmly welcomes volunteers to be part of its team and work towards a common goal.
            We look at volunteering as an opportunity for people to work for a social cause and
            play a role in helping those who really are in need.<br><br>  

            As our volunteer, you will support our staff and work on our projects.
            In the process, you will gain valuable insights in developmental issues,
            interact and make friends with new people and put your spare time to better 
            use. It is an experience you would want to cherish.<br><br> 

            Want to help us by being a volunteer? <a routerLink="#">Click Here</a> 
            To know more, kindly call on: 91-02143-254449 / 254531 / 254532
            OR Email: drdeshmukhcfi@gmail.com<br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
